body{
    margin: 0;
    padding: 0;
    
}
.header {
    background-color: brown;
    width: 100%;
    height: 20%;
}

.sidebar{
    background-color: yellowgreen;
    width: 10%; 
    height: 60%;
    float: left;
}
.main_content{
    width: 90%;
    height: 60%;
}
.main_content h1{
    color: black;
}

.footer {
    background-color: blueviolet;
    width: 100%;
    height: 20%;
} 
h1{
    color: white;
    font: 1em sans-serif;
    margin: 0;
}