body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
        Times, serif;
    color: purple;
    background-color: #d8da3d
}

.navigation_menu {
    float: left;
    width: 10%;
    height: 500px;
}
.navigation_menu .navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em
}
.navigation_menu .navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black
}

.navigation_menu .navbar a {
    text-decoration: none
}

.navigation_menu .navbar a:link {
    color: blue
}

.navigation_menu .navbar a:visited {
    color: purple
}

.main{
    float: left;
    width: 90%;
    height: 500px;
}
.main h1 {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif
}

.main address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted
}





